

.slider-container {
  display: flex;
  width: 100;
  height: 20vh;

  /* Vamos a añadir esto 👇 */

}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;

  /* Vamos a añadir esto 👇 */
  scroll-snap-align: center;
}
