<div class="container-fluid" role="group" aria-label="Carousel toggle controls">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="slider-container">
        <img class="slider-item" [src]="image.src" alt="Random third hide">
      </div>
      <br>
      <div class="carousel-caption">
        <h1>{{ image.title }}</h1>
        <p>{{ image.short }}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  </div>
