<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="title" >
      <h1>Un poco más de mi....</h1>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="assets/img/sam1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SAMY</h5>
        <p class="card-text">Tengo dos hermanas, ella es Salma Irán, tiene 19 añitos</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/img/adeled2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ADELE</h5>
        <p class="card-text">Una de las cosas que más disfruto es la música y Adele me gusta mucho.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/img/escr.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ESCRIBIR</h5>
        <p class="card-text">Disfruto de escribir, considero qye es muy terapeutico</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets/img/pau.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PAULINITY</h5>
        <p class="card-text">Ella es mi hermana menor, Itza Paulina pero yo le digo Pau, Pualinity, Paulis.</p>
      </div>
    </div>
  </div>
</div>
