.container{
  display:0 0 100%;
  width: 2000px;
  height: 400px;
  background-color: rgb(50, 14, 72);

}
 .title{
  color:#9e39e1;
 }
 .title2{
  color:#a876c9;
 }
.img{
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;

  /* Vamos a añadir esto 👇 */
  scroll-snap-align: center;

}
